@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham\ Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham\ Book\ Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}